.SocialMediaIcon {
    width: 28px;
    height: 28px;
}

.ToolIcon {
    width: 100px;
    height: 100px;
}

.WindowIcon {
    width: 20px;
    height: 20px;
}

.PopUpContactIcon {
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

.PopUpContactSteps {
    display: inline-block;
    margin: 0 10px;
}

.PopUpContactVisual {
    margin: 5px auto;
    width: fit-content;
}