.TopBarContainer {
  width: 100%;
  position: fixed;
  top: 0;
}

.TopBar {
    /* background-color: #2a2525; */
    overflow: hidden;
    padding: 10px;
    padding-bottom: 0;
}

.TopBar h1 {
    color: #f2f2f2;
    margin: 0 auto;
    width: fit-content;
}

.TopBarHead {
    position: relative;
}

.TopBarMedia {
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
}

.TopBarMedia a {
  text-decoration: none;
  margin: auto 5px;
}

.TopBarSections {
  overflow: hidden;
  /* background-color: #333; */
  width: fit-content;
  margin: 0 auto;
}

.TopBarSections a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.05em;
}

.TopBarSections a:hover {
  color: #2e4ba9;
}

.TopBarSections a.active {
  background-color: #04AA6D;
  color: white;
}

.TopBarLanguage {
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
}

.TopBarLanguage button {
  background-color: transparent;
  border: 0;
  color: #f2f2f2;
}
.TopBarLanguage button:hover {
  color: #2e4ba9;
}
.TopBarLanguage .SelectedLanguage {
  border-bottom: 1px solid #f2f2f2;
}