.AboutMeContainer {
    background-color: #858787;
    text-align: left;
    margin: 10px 0;
    overflow: auto;
    padding: 15px 20px;
}

.AboutMeTitle {
    margin: 0;
}

.Tools {
    width: 300px;
    margin: 0 auto;
}

.Tools img {
    height: 100px;
    width: 100px;
}